## Calculating the Risk of a Security

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Download the data for Microsoft (‘MSFT’) from Google Finance for the period ‘2002-1-1’ until today. <br />
Assess the daily and the annual risk of ‘MSFT’. Repeat the exercise for Apple for the same timeframe.

In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

tickers = ['MSFT', 'AAPL']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='google', start='2007-1-1')['Close']
    
sec_return = np.log(sec_data / sec_data.shift(1))
sec_return

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.022306
2007-01-05 -0.005719 -0.007380
2007-01-08  0.009737  0.004926
2007-01-09  0.001002  0.079476
2007-01-10 -0.010064  0.047276
2007-01-11  0.034463 -0.012341
2007-01-12  0.016476 -0.012496
2007-01-16 -0.001603  0.025558
2007-01-17 -0.001927 -0.022604
2007-01-18 -0.003221 -0.063949
2007-01-19  0.003542 -0.006309
2007-01-22 -0.012615 -0.019170
2007-01-23  0.000651 -0.012987
2007-01-24  0.011321  0.012180
2007-01-25 -0.020800 -0.005666
2007-01-26  0.004914 -0.009788
2007-01-29 -0.002290  0.006536
2007-01-30 -0.001639 -0.004898
2007-01-31  0.012390  0.002452
2007-02-01 -0.009769 -0.011494
2007-02-02 -0.012181  0.000000
2007-02-05 -0.019399 -0.009959
2007-02-06 -0.003383  0.002499
2007-02-07 -0.004755  0.023840
2007-02-08 -0.003752  0.000000
2007-02-09 -0.009615 -0.033874
2007-02-12 -0.001381  0.019143
2007-02-13  0.003105 -0.003303
2007-02-14  0.012665  0.008237
...              ...       ...
2017-07-10  0.007458  0.006085
2017-07-11  0.000143  0.003235
2017-07-12  0.016438  0.001442
2017-07-13  0.008676  0.013833
2017-07-14  0.013975  0.008558
2017-07-17  0.007801  0.003483
2017-07-18 -0.000682  0.003471
2017-07-19  0.007611  0.006244
2017-07-20  0.004862 -0.004513
2017-07-21 -0.005810 -0.000466
2017-07-24 -0.002578  0.012039
2017-07-25  0.007984  0.004265
2017-07-26 -0.001889  0.004703
2017-07-27 -0.012092 -0.019078
2017-07-28 -0.001642 -0.007065
2017-07-31 -0.004666 -0.005164
2017-08-01 -0.001652  0.008836
2017-08-02 -0.004419  0.046169
2017-08-03 -0.001523 -0.010041
2017-08-04  0.007319  0.005257
2017-08-07 -0.003860  0.015356
2017-08-08  0.005372  0.007965
2017-08-09 -0.004406  0.006103
2017-08-10 -0.014735 -0.036289
2017-08-11  0.015149  0.013811
2017-08-14  0.014923  0.014937
2017-08-15 -0.005041  0.010888
2017-08-16  0.005856 -0.004030
2017-08-17 -0.017118 -0.019385
2017-08-18  0.001242 -0.002283

[2676 rows x 2 columns]

### MSFT

Daily risk:

In [3]:
sec_return["MSFT"].std()

0.017398288426329806

Annual risk:

In [7]:
sec_return["MSFT"].std() * 250 ** 0.5

0.27509109407874405

### Apple

Daily risk:

In [ ]:
sec_return["AAPL"].std()

Annual risk:

In [8]:
sec_return["AAPL"].std() * 250 ** 0.5

0.3217819807998841

******

Store the volatilities of the two stocks in an array called “vols”.

In [12]:
vols = sec_return[["MSFT", "AAPL"]].std() * 250 ** 0.5
vols

MSFT    0.275091
AAPL    0.321782
dtype: float64

How are the two risk values different?